.ticket-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.ticket {
  margin-left: 2%;
  margin-bottom: 1%;
  border: 1px solid rgb(212, 212, 212);
  width: 15%;
  padding: 1%;
  border-radius: 5px;
}

.ticket:hover {
  background-color: rgb(240, 246, 250);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.create {
  color: rgb(65, 228, 65);
  text-decoration: none;
}

.edit {
  color: rgb(95, 127, 231);
  text-decoration: none;
}

.delete {
  color: red;
}